@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root {
    --primary: #f6f6f8;
    --colorSidebar: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins';
}

body {
    font-size: 1.6rem;
    line-height: 1.6rem;
}
